<div id="account-menu" class="account-menu">
    <ul>
        <li><a href="#"><i class="fas fa-user-circle"></i><span data-i18n-key="account_menu_channel_text">My Channel</span></a></li>
        <li><a href="#"><i class="fas fa-cog"></i><span data-i18n-key="account_menu_settings_text">Settings</span></a></li>
        <li id="language-option"><a href="#"><i class="fas fa-globe"></i><span data-i18n-key="account_menu_language_text">Language</span></a>
            <ul class="language-submenu" id="language-submenu">
                <li><a href="#" data-lang="en">English</a></li>
                <li><a href="#" data-lang="ja">日本語</a></li>
                <li><a href="#" data-lang="zh-TW">繁體中文</a></li>
                <li><a href="#" data-lang="zh-CN">简体中文</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fas fa-question-circle"></i><span data-i18n-key="account_menu_help_text">Help</span></a></li>
        <li><a href="#"><i class="fas fa-comment-dots"></i><span data-i18n-key="account_menu_feedback_text">Feedback</span></a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i><span data-i18n-key="account_menu_signout_text">Sign Out</span></a></li>
    </ul>
</div>
